.services{
    background-image: url('https://i.ibb.co/0QSFWyn/hive.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.service-subtitle{
    color: #0092FF;
    font-weight: 700;
}
.service-title{
    line-height: 50px;
    margin-top: 20px;
}


