

.service-thumb{
    overflow: hidden;
    border-radius: 4px;
}
.service-item:hover img{
 transform: scale(1.1);
}
.service-img{
    border-bottom-right-radius: 150px 15px;
    border-bottom-left-radius: 150px 15px;
    transition: transform .4s;
    
    
}
.read-more{
    border-width: 2px;
}
.read-more:hover{
    background-color: #0092FF;
    color: white;
    border-color: #0092FF;
}